* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* color palette */
	--white: rgba(255, 255, 255, 1);
	--black: rgba(34, 34, 34, 1);
	--grey: rgba(71, 71, 71, 1);
	--red: rgba(170, 24, 44, 1);
	--blue: rgba(0, 47, 135, 1);
	--light-blue: rgba(0, 171, 200, 1);
	--green: rgba(162, 212, 94, 1);
	--purple: rgba(164, 90, 149, 1);
	--orange: rgba(248, 141, 42, 1);
	--transparent: rgba(255, 255, 255, 0);
	/* shadow weights */
	--light-shadow: 0px 2px 15px rgba(0,0,0,0.1);
	--light-medium-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	--medium-shadow: 0px 2px 15px rgba(0,0,0,0.3);
	--heavy-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	/* resizing ratios */
	--help-icon-padding: 20px;
	--card-and-help-padding: 40px 45px 45px 45px;
	--border-radius: 30px;
	--page-margins: 100px;
	/* drop-in animations */
	--drop-in-duration: 0.9s;
	--drop-in-interval: 1.5s;
	/* underline animations */
	--underline-margin: -5px;
	--underline-width: 4px;
	--underline-duration: 0.3s;
	/* font-sizes */
	--title-font: 96px;
	--header-font: 36px;
	--desc-font: max(20px, 1.3vw);
	--desc-help-font: max(calc(12px + 1.5vw), 2vw);
	--link-font: 20px;
	--help-char-size: 10em;
}

/* onload drop-in animations */ 
.drop-in-1 {
	animation: drop-in var(--drop-in-duration) ease 0.5s backwards;
}
   
.drop-in-2 {
	animation: drop-in var(--drop-in-duration) ease calc(0.5s + var(--drop-in-interval)) backwards;
}

.drop-in-3 {
	animation: drop-in var(--drop-in-duration) ease calc(0.5s + var(--drop-in-interval) + var(--drop-in-interval)) backwards;
}
   
@keyframes drop-in {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}
/* onload drop-in animations */

/* highlight color */
span {
	color: var(--light-blue);
}
/* highlight color */

#landing-page {

	margin: 50px 0;

	font-family: sans-serif;
	color: var(--grey);
}

#header-container {
	margin: 0 var(--page-margins);
}

.header-greeting-top {

	font-size: var(--title-font);
	font-weight: 600;
	text-shadow: var(--light-shadow);
}

.header-greeting-bottom {
	margin-bottom: 90px;

	font-size: var(--header-font);
	font-weight: 600;
	text-shadow: var(--light-medium-shadow);
}

#CTA {
	z-index: 3;
	position: sticky;
	top: 0;

	margin-bottom: 15px;
	padding: 20px var(--page-margins);

	background-color: var(--white);

	font-size: var(--header-font);
	font-weight: 600;
	text-shadow: var(--light-medium-shadow);

	/* opacity: 0.95; */
}

#CTA p {
	display: inline-block;
}

#CTA a {
	position: relative;

	color: var(--light-blue);
	text-decoration: none;
}

/* hover underline animation */
#CTA a:after { 
    display: block;
    position: absolute;

    bottom: 0;
    left: 50%; 
	
	height: var(--underline-width);
    width: 0;

    margin-bottom: var(--underline-margin);

    background: none repeat scroll 0 0 transparent;
    background: var(--light-blue);

    content: "";

    transition: width var(--underline-duration) ease 0s, left var(--underline-duration) ease 0s;
}

#CTA a:hover:after { 
    left: 0; 

    width: 100%; 
}
/* hover underline animation */

#card-container {
	margin: 0 var(--page-margins) 30px var(--page-margins);

	display: flex;
	flex-direction: column;
	gap: 35px;
}

.card {
	z-index: 2;
	transform-style: preserve-3d;
	position: relative;

	padding: var(--card-and-help-padding);

	font-weight: 600;
	color: white;
	text-shadow: var(--light-medium-shadow);

	border-radius: var(--border-radius);
	box-shadow: var(--light-medium-shadow);
}

.card-header {
	width: max-content;

	margin-bottom: 10px;
	padding-bottom: 5px;

	font-size: var(--header-font);
	text-shadow: var(--light-shadow);

	border-bottom: 3px solid white;
}

.card-desc {
	max-width: 45%;

	font-size: var(--desc-font);
}

/* card background gradients */
.applications {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--light-blue), var(--light-blue), var(--light-blue));
}

.information {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--green), var(--green), var(--green));
}

.missions {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--orange), var(--orange), var(--orange));
}

.resources {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--purple), var(--purple), var(--purple));
}
/* card background gradients */

/* card background images */
.card::before {
	z-index: 1;
	transform: translateZ(-1px);
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-image: url('./img/applications1.jpg');
	background-repeat: no-repeat;
	background-position: 100% 80%;
	background-size: cover;

	content: '';

	border-radius: var(--border-radius);
}
/* card background images */

.link-container {
	display: inline-flex;
	flex-direction: column;
	gap: 10px;

	margin-top: 20px;
}

.card a {
	padding: 10px 25px;

	font-size: var(--link-font);
	color: white;
	text-decoration: none;

	border: 2px solid white;
	border-radius: 1000px;
	box-shadow: var(--light-medium-shadow);
}

.card a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	
	box-shadow: var(--heavy-shadow);

	transition: 0.2s;
}

#help {
	display: flex;
	align-items: center;
	gap: 40px;

	margin: 0 var(--page-margins);
	padding: var(--card-and-help-padding);

	background-color: var(--grey);

	font-weight: 600;
	color: white;
	text-shadow: var(--light-medium-shadow);

	border-radius: var(--border-radius);
	box-shadow: var(--light-medium-shadow);
}

.help-icon {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding));
	width: calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding));

	padding: var(--help-icon-padding);

	background-color: white;
	border-radius: 50%;
}

.help-char {
	font-size: var(--help-char-size);
	color: var(--grey);
}

.help-body {
	max-width: calc(100% - calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding)) - 10%);
}

.help-desc {
	display: inline;
	font-size: var(--desc-help-font);
}

#help a {
	position: relative;

	color: var(--light-blue);
	text-decoration: none;
	white-space: nowrap;
}

/* hover underline animation */
.inline-help-link:after { 
    display: inline-block;
    position: absolute;

    bottom: 0;
    left: 50%; 
	
	height: var(--underline-width);
    width: 0;

    margin-bottom: var(--underline-margin);

    background: none repeat scroll 0 0 transparent;
    background: var(--light-blue);

    content: "";

    transition: width var(--underline-duration) ease 0s, left var(--underline-duration) ease 0s;
}

.inline-help-link:hover:after { 
    left: 0; 

    width: 96%; 
}
/* hover underline animation */

#TY {
	margin: 60px var(--page-margins);

	text-align: center;
	font-size: var(--title-font);
	font-weight: 600;
	text-shadow: var(--light-shadow);
}