* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* color palette */
	--white: rgba(255, 255, 255, 1);
	--black: rgba(34, 34, 34, 1);
	--grey: rgba(71, 71, 71, 1);
	--red: rgba(170, 24, 44, 1);
	--blue: rgba(0, 47, 135, 1);
	--light-blue: rgba(0, 171, 200, 1);
	--green: rgba(162, 212, 94, 1);
	--purple: rgba(164, 90, 149, 1);
	--orange: rgba(248, 141, 42, 1);
	--transparent: rgba(255, 255, 255, 0);
	/* shadow weights */
	--light-shadow: 0px 2px 15px rgba(0,0,0,0.1);
	--light-medium-shadow: 0px 2px 15px rgba(0,0,0,0.2);
	--medium-shadow: 0px 2px 15px rgba(0,0,0,0.3);
	--heavy-shadow: 0px 2px 15px rgba(0,0,0,0.5);
	/* resizing ratios */
	--help-icon-padding: 20px;
	--card-and-help-padding: 40px 45px 45px 45px;
	--border-radius: 30px;
	--page-margins: 100px;
	/* drop-in animation */
	--drop-in-initial: 0.5s;
	--drop-in-duration: 0.9s;
	--drop-in-interval: 1.5s;
	/* fade-in left animation */
	--fade-left-initial: 0s;
	--fade-left-duration: 0.7s;
	--fade-left-interval: 0.3s;
	/* underline display and animations */
	--underline-margin: -5px;
	--underline-width: 4px;
	--underline-width-large: 8px;
	--underline-duration: 0.25s;
	/* font-sizes */
	--title-font: 96px;
	--header-font: 36px;
	--desc-font: max(20px, 1.3vw);
	--desc-help-font: max(calc(8px + 1.5vw), 2vw);
	--link-font: max(16px, 1.0vw);
	--help-char-size: calc(5em + 3vw);
}

/* onload drop-in animations */ 
.drop-in-1 {
	animation: drop-in var(--drop-in-duration) ease var(--drop-in-initial) backwards;
}
   
.drop-in-2 {
	animation: drop-in var(--drop-in-duration) ease calc(var(--drop-in-initial) + var(--drop-in-interval)) backwards;
}

.drop-in-3 {
	animation: drop-in var(--drop-in-duration) ease calc(var(--drop-in-initial) + var(--drop-in-interval) + var(--drop-in-interval)) backwards;
}
   
@keyframes drop-in {
	from {
		opacity: 0;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}
/* onload drop-in animations */

/* onload fade-in left animations 
.applications {
	animation: fade-in-left var(--fade-left-duration) ease var(	--fade-left-initial) backwards;
}
   
.information {
	animation: fade-in-left var(--fade-left-duration) ease calc(var(--fade-left-initial) + var(--fade-left-interval)) backwards;
}

.missions {
	animation: fade-in-left var(--fade-left-duration) ease calc(var(--fade-left-initial) + var(--fade-left-interval) + var(--fade-left-interval)) backwards;
}

.resources {
	animation: fade-in-left var(--fade-left-duration) ease calc(var(--fade-left-initial) + var(--fade-left-interval) + var(--fade-left-interval) + var(--fade-left-interval)) backwards;
}

@keyframes fade-in-left {
	0% {
	   opacity: 0;
	   transform: translateX(-100px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
}

/* highlight color */
span {
	color: var(--light-blue);
	position: relative;
}
/* highlight color */

#landing-page {

	margin: 50px 0;

	font-family: sans-serif;
	color: var(--grey);
}

#header-container {
	margin: 0 var(--page-margins);
}

.header-greeting-top {

	font-size: var(--title-font);
	font-weight: 600;
	text-shadow: var(--light-shadow);
}

.header-greeting-bottom {
	margin-bottom: 105px;

	font-size: var(--header-font);
	font-weight: 600;
	text-shadow: var(--light-medium-shadow);
}

#CTA {
	/* z-index: 3;
	position: sticky;
	top: 0; */

	margin-bottom: 15px;
	padding: 20px var(--page-margins);

	background-color: var(--white);

	font-size: var(--header-font);
	font-weight: 600;
	text-shadow: var(--light-medium-shadow);

	/* opacity: 0.95; */
}

#CTA p {
	display: inline;
}

#CTA a {
	position: relative;

	color: var(--light-blue);
	text-decoration: none;
}

/* hover underline animation */
#CTA a:after { 
    display: block;
    position: absolute;

    bottom: 0;
    left: 50%; 
	
	height: var(--underline-width);
    width: 0;

    margin-bottom: var(--underline-margin);

    background: none repeat scroll 0 0 transparent;
    background: var(--light-blue);

    content: "";

    transition: width var(--underline-duration) ease 0s, left var(--underline-duration) ease 0s;
}

#CTA a:hover:after { 
    left: 0; 

    width: 100%; 
}
/* hover underline animation */

#card-container {
	margin: 0 var(--page-margins) 30px var(--page-margins);

	display: flex;
	flex-direction: column;
	gap: 35px;
}

.card {
	z-index: 2;
	transform-style: preserve-3d;
	position: relative;

	padding: var(--card-and-help-padding);

	font-weight: 600;
	color: var(--white);
	text-shadow: var(--light-medium-shadow);

	border-radius: var(--border-radius);
	box-shadow: var(--light-medium-shadow);
}

/* card background gradients */
.applications {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--light-blue), var(--light-blue));
}

.information {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--green),var(--green));
}

.missions {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--orange),var(--orange));
}

.resources {
	background-image: linear-gradient(to left, var(--transparent), var(--transparent), var(--purple), var(--purple));
}
/* card background gradients */

/* card background images */
.card::before {
	z-index: 1;
	transform: translateZ(-1px);
	position: absolute;
	top: 0;
	left: 30%;

	height: 100%;
	width: 70%;

	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	content: '';

	border-radius: var(--border-radius);
}

.applications::before {
	background-image: url('./img/BRA_2008_Antonia_After_03.png');
}

.information::before {
	background-image: url('./img/ETH_2010_Morris_007.png');
}

.missions::before {
	background-image: url('./img/COL_2007_Bogota_Care_Center_9511.png');
}

.resources::before {
	background-image: url('./img/COL_2007_Care_Center_9470.png');
}
/* card background images */

.card-header {
	width: max-content;

	margin-bottom: 10px;
	padding-bottom: 5px;

	font-size: var(--header-font);
	text-shadow: var(--light-shadow);

	border-bottom: 3px solid var(--white);
}

.card-desc {
	max-width: 40%;

	font-size: var(--desc-font);
}

.link-container {
	display: inline-flex;
	flex-direction: column;
	gap: 10px;

	margin-top: 20px;
}

.card a {
	padding: 10px 25px;

	font-size: var(--link-font);
	color: var(--white);
	text-decoration: none;

	border: 2px solid var(--white);
	border-radius: 1000px;
	box-shadow: var(--light-medium-shadow);
}

.card a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	
	box-shadow: var(--heavy-shadow);

	transition: 0.25s;
}

/* smaller viewport card design */
@media screen and (max-width: 1300px) {
	.card {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		height: 700px;
	}

	/* card background images */
	.card::before {
		z-index: 1;
		transform: translateZ(-1px);
		position: absolute;
		top: 30%;
		left: 0;
	
		height: 70%;
		width: 100%;
	
		background-position: center; 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	
		content: '';
	
		border-radius: var(--border-radius);
	}
	/* card background images */

	/* card background gradients */
	.applications {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--light-blue), var(--light-blue));
	}
	
	.information {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--green),var(--green));
	}
	
	.missions {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--orange),var(--orange));
	}
	
	.resources {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--purple), var(--purple));
	}
	/* card background gradients */

	.card-body {
		display: flex;
		flex-direction: column;

		max-width: max-content;

	}

	.card-desc {
		min-width: fit-content;
	}

	.link-container {
		transform: translateY(-13px);
	}
	
	.card a {
		white-space: nowrap;
	}
}

@media screen and (max-width: 1000px) {
	#landing-page {
		--title-font: 64px
	}

	.card {
		display: block;

		height: unset;
	}

	.card::before {
		background-image: unset;
	}

	.card-desc {
		max-width: unset;
	}

	.link-container {
		transform: unset;
	}
	
	.applications {
		background-color: var(--light-blue);
	}

	.information {
		background-color: var(--green);
	}

	.missions {
		background-color: var(--orange);
	}

	.resources {
		background-color: var(--purple);
	}
}
@media screen and (max-width: 700px) {
	#landing-page {
		--page-margins: 30px;
	}

	.card a {
		font-size: 14px;
	}
}

/* smaller viewport card design */


/* mobile devices */
@media only screen and (max-device-width: 1300px) {
	.card {
		display: flex;
		justify-content: space-between;
		gap: 30px;

		height: 700px;

		background-color: unset;
	}

	/* card background images */
	.card::before {
		z-index: 1;
		transform: translateZ(-1px);
		position: absolute;
		top: 30%;
		left: 0;
	
		height: 70%;
		width: 100%;
	
		background-position: center; 
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	
		content: '';
	
		border-radius: var(--border-radius);
	}
	.applications::before {
		background-image: url('./img/BRA_2008_Antonia_After_03.png');
	}
	
	.information::before {
		background-image: url('./img/ETH_2010_Morris_007.png');
	}
	
	.missions::before {
		background-image: url('./img/COL_2007_Bogota_Care_Center_9511.png');
	}
	
	.resources::before {
		background-image: url('./img/COL_2007_Care_Center_9470.png');
	}
	/* card background images */

	/* card background gradients */
	.applications {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--light-blue), var(--light-blue));
	}
	
	.information {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--green),var(--green));
	}
	
	.missions {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--orange),var(--orange));
	}
	
	.resources {
		background-image: linear-gradient(to top, var(--transparent), var(--transparent), var(--purple), var(--purple));
	}
	/* card background gradients */

	.card-body {
		display: flex;
		flex-direction: column;

		max-width: max-content;

	}

	.card-desc {
		min-width: fit-content;
	}

	.link-container {
		transform: translateY(-13px);
	}
	
	.card a {
		white-space: nowrap;
	}
}
/* mobile devices */

#TY {
	margin: 80px var(--page-margins);

	text-align: center;
	font-size: var(--title-font);
	font-weight: 600;
	text-shadow: var(--light-shadow);
}

/* underline display */
#TY span:after { 
    display: inline;
    position: absolute;

    bottom: 0;
    left: 6px; 
	
	height: var(--underline-width-large);
    width: 100%;

    margin-bottom: var(--underline-margin);

    background: none repeat scroll 0 0 transparent;
    background: var(--light-blue);

	content: "";
}
/* underline display */

#help {
	display: flex;
	align-items: center;
	gap: 40px;

	margin: 0 var(--page-margins);
	padding: var(--card-and-help-padding);

	background-color: var(--grey);

	font-weight: 600;
	color: var(--white);
	text-shadow: var(--light-medium-shadow);

	border-radius: var(--border-radius);
	box-shadow: var(--light-medium-shadow);
}

.help-icon {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	height: calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding));
	width: calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding));

	padding: var(--help-icon-padding);

	background-color: var(--white);
	border-radius: 50%;
}

.help-char {
	font-size: var(--help-char-size);
	color: var(--grey);
}

.help-body {
	max-width: calc(100% - calc(var(--help-char-size) + var(--help-icon-padding) + var(--help-icon-padding)) - 10%);
}

.help-desc {
	display: inline;

	line-height: 1.3em;
	font-size: var(--desc-help-font);
}

#help a {
	position: relative;

	color: var(--light-blue);
	text-decoration: none;
	white-space: nowrap;
}

/* hover underline animation */
.inline-help-link:after { 
    display: inline-block;
    position: absolute;

    bottom: 0;
    left: 50%; 
	
	height: var(--underline-width);
    width: 0;

    margin-bottom: var(--underline-margin);

    background: none repeat scroll 0 0 transparent;
    background: var(--light-blue);

    content: "";

    transition: width var(--underline-duration) ease 0s, left var(--underline-duration) ease 0s;
}

.inline-help-link:hover:after { 
    left: 0; 

    width: 96%; 
}
/* hover underline animation */
